<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href='screen.css' rel='stylesheet' type='text/css'>
  <link href='jquery-ui.css' rel='stylesheet' type='text/css'>
  <script src="jquery-2.1.4.min.js"></script>
  <script src="jquery.form.min.js"></script>
  <script src="jquery-ui.min.js"></script>
  <script src="highlight.pack.js"></script>
  <script src="site.js"></script>
  <title>XR M2M example client</title>
</head><body><div class="wrapper">
<div class="nav">
 <a href="/"><h1>M2M examples</h1></a>
 <ul id="feature-links">
  <li><a href="#connection">Connection</a></li>
  <li><a href="#features">Features</a></li>
  <li class="gap"></li>
  <li><a href="#simple_cli">Simple CLI</a></li>
  <li><a href="#json_cli">JSON CLI</a></li>
  <li><a href="#get">Get</a></li>
  <li><a href="#schema">Schema</a></li>
  <li><a href="#script">Script</a></li>
  <li><a href="#explorer">Explorer</a></li>
  <li><a href="#write_file">Write File</a></li>
  <li><a href="#telemetry">Telemetry Policy</a></li>
  <li><a href="#gpb">Telemetry GPB</a></li>
  <li class="gap"></li>
  <li><a href="#history">Commit history</a></li>
  <li><a href="#current_config">Current config</a></li>
  <li class="gap"></li>
  <li><a href="#manage_intf">Manage interface</a></li>
  <li><a href="#protobuf">Protocol buffer</a></li>
  <li class="gap"></li>
  <li><a href="#about">About</a></li>
 </ul>
 <button id="toggle_debug">Toggle debug</button>
</div>
<div class="main">
